.hiddenElement{
    display: none;
}



.commentBody{
    background-color: white;
    width: 90%;
    margin:0 5% 5px 5%;
}

#commentForm{
    margin-top: 50px;
    padding:20px 0;
    
    background-color: white;
    position: absolute;
    width: 100%;

}


#commentPostButton{
    margin-left:10px;
}

#quitButton{
    position: absolute;
    right:10px;
}