.hiddenElement{
    display: none;
}



.commentBody{
    background-color: white;
    width: 90%;
    margin:0 5% 5px 5%;
}

#commentForm{
    margin-top: 20px;
    padding:10px 0;
    
    background-color: white;
    position: absolute;
    width: 100%;

}


#commentPostButton{
    margin: 0 auto 0 46%;
}

#quitButton{
    position: absolute;
    right:10px;
}