#detailDiv{
    margin-top: 90px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.titleDiv{
    background-color: lightgreen;

    word-wrap: break-word;
}

#questionTitle{
    text-align: center;
}

.bodyDiv{
    word-wrap: break-word;
    width:90%;
    margin-left:5%;
    

}