.question_body{
    background-color: white;
    width: 70%;
    margin:0 auto 30px auto;
}


.question_body:hover{
    color: #3f51b5;
}
.questionElements{
    padding: 0 5px 0 5px;
   
}

.titleDiv{
    background-color: lightgreen;
    text-align: center;
    word-wrap: break-word;
}
.bodyDiv{
    word-wrap: break-word;
    width:90%;
    margin-left:5%;
    text-align: left;
}

.infoDiv{
    padding-right: 15px;
    text-align: right;
}
