#signup{
    margin:0px auto 0px auto;
    width: 60%;
    background-color: white;
    padding:5% 0 5% 10%;

}

.signupField{
   width: 80%;
}

#signupButton{
    width: 40%;
    margin-left: 20%;
}

#signupTitle{
    text-align: center;
    padding-top: 60px;
}