.infomation{
    position:absolute;
    font-size: small;
    line-height: 4px;
    right:2%;
}

.infomation:hover .hover_display{
    display: inline;
}

.hover_display{
    border: 2px solid black;
    position: absolute;
    display: none; 
    top:20%;
    right: 0%;
    width: 240px;
    background-color: #3f51b5;
    padding-left: 15px;
}
.info_child{
    text-align: right;
}

.hover_label{
    padding-bottom: 5px;
}

.hover_element{
    padding-bottom: 5px;
    padding-left: 20px;
}

.route_from_info_button{
    margin-bottom: 5px;
    background-color: #3f51b5;
    text-decoration:underline;
    border: none;
    color:white;
    font-size: 15px;
}

.route_from_info_button:hover{
    color:red;
}


