#indexbar{
    position: fixed;
    padding-top: 40px;
    width: 100%;
    background-color: #0066FF;

}

#centerstack{
    display: flex;
    align-items: center;
    width: 20%;
    margin-left: 40%;
}

.mr-2{
    width:60px;
}

