
.menubar{
    padding-left: 65px;
    padding-right: 65px;
    background-color: #3f51b5;
    height: 100%;
    position:relative;
}

#menutitle{
    text-align: center;
    color:white;
}

a{
    color:inherit;
    text-decoration: none;
    color:white;
}

.a:focus{
    font-weight: bold;
}

.links{
    text-align: center;
    font-size: large;
    display: block;
    padding-bottom: 10px;
}

.batsu{
    font-size: 300%;/*ボタンの大きさ*/
    text-align: center;
    font-weight: bold;
    color: white;
  
  
    position: absolute;
    right:0;
    top:-15px;
    width: 54px;
    height:54px;
  }
    