.menubar{
    padding-left: 50px;
    padding-right: 50px;
    width:200px;
}

#menutitle{
    text-align: center;
}

a{
    color:inherit;
    text-decoration: none;
    color: #3f51b5;
}

.a:focus{
    font-weight: bold;
}

.links{
    text-align: center;
    font-size: large;
    display: block;
}
