#questionform{
    margin:0px auto 0px auto;
    width: 60%;
    background-color: white;
    padding: 5% 0 5% 5%;
}

.questionTitle{
    width: 70%;
    font-size: large;
 }

 .questionBody{
    width: 90%;
    height: 30px;
    font-size: large;
 }
 
 #questionButton{
     width: 40%;
     
 }

 #postButton{
    width: 40%;

}